[Unit]
Description=Klipper 3D Printer Firmware SV1
Documentation=https://www.klipper3d.org/
After=network-online.target
Before=moonraker.service
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=${BASE_USER}
RemainAfterExit=yes
WorkingDirectory=/home/${BASE_USER}/klipper
EnvironmentFile=/home/${BASE_USER}/printer_data/systemd/klipper.env
ExecStartPre=/usr/bin/python3 /home/${BASE_USER}/printer-config/scripts/get_network_info.py
ExecStart=/home/${BASE_USER}/klippy-env/bin/python $KLIPPER_ARGS
Restart=always
RestartSec=10
